<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068131238942-ll2q6c1t17c2uerjn7pgc17g8g0v3dfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068131238942-ll2q6c1t17c2uerjn7pgc17g8g0v3dfu</string>
	<key>API_KEY</key>
	<string>AIzaSyD58wc1eWzioV7ZkI8VOLv-YE27NgQNDso</string>
	<key>GCM_SENDER_ID</key>
	<string>1068131238942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easemob.firebase-push-demo</string>
	<key>PROJECT_ID</key>
	<string>test-push-6b4b6</string>
	<key>STORAGE_BUCKET</key>
	<string>test-push-6b4b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068131238942:ios:8eb83dff17cd0206191a0f</string>
</dict>
</plist>