<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068131238942-bhuc8b9oo7mohg3g629ak20053ot64dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068131238942-bhuc8b9oo7mohg3g629ak20053ot64dh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068131238942-vcvtqk7jtadu62snbi8qeb7s8t1dk1bu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD58wc1eWzioV7ZkI8VOLv-YE27NgQNDso</string>
	<key>GCM_SENDER_ID</key>
	<string>1068131238942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebase-push-demo</string>
	<key>PROJECT_ID</key>
	<string>test-push-6b4b6</string>
	<key>STORAGE_BUCKET</key>
	<string>test-push-6b4b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068131238942:ios:aa457fc6e09ecb04191a0f</string>
</dict>
</plist>